

    <IfModule mod_security.c>
        SecFilterEngine Off
        SecFilterScanPOST Off
    </IfModule>
    <IfMOdule mod_rewrite.c>
         RewriteEngine On
         # Redirect All Requests To The Subfolder
         RewriteRule ^(.*)$ public/$1 [L]
         RewriteCond %{HTTPS} off
         RewriteRule (.*) https://%www.%{HTTP_HOST}%{REQUEST_URI}
    </IfMOdule>


